DJANGO_SECRET_KEY=CHANGE_ME_SECRET_KEY
DJANGO_DEBUG=0
DJANGO_ALLOWED_HOSTS=__SERVER_IP__,localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://__SERVER_IP__
DJANGO_TIME_ZONE=Asia/Tashkent
POSTGRES_DB=attestation
POSTGRES_USER=attestation
POSTGRES_PASSWORD=CHANGE_ME_POSTGRES_PASSWORD
POSTGRES_HOST=db
POSTGRES_PORT=5432
REDIS_PASSWORD=CHANGE_ME_REDIS_PASSWORD
CELERY_BROKER_URL=redis://:CHANGE_ME_REDIS_PASSWORD@redis:6379/0
CELERY_RESULT_BACKEND=redis://:CHANGE_ME_REDIS_PASSWORD@redis:6379/1
DJANGO_MEDIA_ROOT=/app/media
SOFFICE_BIN=/usr/bin/soffice
ATTESTATION_TASK_RUNNER=celery
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=CHANGE_ME_SUPERUSER_PASSWORD
